.flex-container {
    display: inline-flex;
    min-height: 100vh;
    flex-direction: column;
    flex-basis: 100%;
    width: 100%;
}

.flex-item {
    padding: 10px;
    color: rgb(13, 10, 31);
    text-align: center;
    align-items: center;
    border: 1px solid #08060a;
}

.item-3 {
    flex-grow: 1;
}

a#publish {
    min-width: 25%;
    max-width: 100%;
    overflow: hidden;
}
a#unpublish {
    min-width: 25%;
    max-width: 100%;
    overflow: hidden;
}
button {
    min-width: 25%;
    max-width: 100%;
}

span#cms {
}