<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Title</title>
</head>
<body>
    <div>
        <span>
            <h1>Нзвание статьи</h1>
        </span>
        <span>
            <button>Главная статья</button>
            <button>Редактировать статью</button>
            <button>Удалить статью</button>
        </span>
    </div>

    <div>

        здесь будет ТЕКСТ статьи

    </div>

    <div>
        <span>
            здесь будет ДАТА публикации
        </span>
        <span>
            здесь будет ПРИОРИТЕТ публикации
        </span>
    </div>
</body>
</html>