<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Title</title>
</head>
<body>
    <div>
        <span>
            <h1>Нзвание статьи</h1>
        </span>
        <span>
            <a href="/">Главная странца</a>
            <a href="editArticle/{{slug}}">Редактировать статью</a>
            <button>Удалить статью</button>
        </span>
    </div>

    <form method="post" action="title">
        {{#articles}}
        <div>
            <span type="text" name="title">{{title}}</span>
            <span>{{description}}</span>
            <span>{{slug}}</span>
            <span>{{menuLabel}}</span>
            <span>{{h1}}</span>
            <span>{{content}}</span>
            <span>{{priority}}</span>
            <span>{{publishedAt}}</span>
        </div>
        {{/articles}}
    </form>

    {{#articles2}}
    <div>
        <span type="text" name="title">{{title}}</span>
        <span>{{description}}</span>
        <span>{{slug}}</span>
        <span>{{menuLabel}}</span>
        <span>{{h1}}</span>
        <span>{{content}}</span>
        <span>{{priority}}</span>
        <span>{{publishedAt}}</span>
    </div>
    {{/articles2}}
</body>
</html>