<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Title</title>
</head>
<body>
<div>
    <div>
        <h1>Изменение статьи</h1>
    </div>
    <div>
            <span>
                <a href="index.mustache">Главная страница</a>
            </span>
    </div>
    <div>
            <span>
                <h3>Название статьи</h3>
            </span>
        <span>
                <input type="text">
            </span>
    </div>
    <div>
            <span>
                <h3>Описание</h3>
            </span>
        <span>
                <input type="text">
            </span>
    </div>
    <div>
            <span>
                <h3>Url</h3>
            </span>
        <span>
                <input type="text">
            </span>
    </div>
    <div>
            <span>
                <h3>Отображение ссылки</h3>
            </span>
        <span>
                <input type="text">
            </span>
    </div>
    <div>
            <span>
                <h3>H1</h3>
            </span>
        <span>
                <input type="text">
            </span>
    </div>
    <div>
            <span>
                <h3>Введите текст статьи</h3>
            </span>
        <span>
                <textarea></textarea>
            </span>
    </div>

    <div>
            <span>
                <h3>Время публицации</h3>
            </span>
        <span>
                <input type="date">
            </span>
    </div>
    <div>
            <span>
                <h3>Приоритет</h3>
            </span>
        <span>
                <input type="number">
            </span>
    </div>
    <div>
        <button>Сохранить</button>
    </div>
</div>
</body>
</html>