<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Title</title>
</head>
<body>
<form method="post">{{#articles}}
    <div>
        <h1>Изменение статьи</h1>
    </div>
    <div>
            <span>
                <a href="/">Главная страница</a>
            </span>
    </div>
    <div>
            <span>
                <h3>Название статьи</h3>
            </span>
            <input type="hidden" value="{{id}}" name="id">
            <span>
                <input type="text" value="{{title}}" name="title">
            </span>
    </div>
    <div>
            <span>
                <h3>Описание</h3>
            </span>
        <span>
                <input type="text" value="{{description}}" name="description">
            </span>
    </div>
    <div>
            <span>
                <h3>Url</h3>
            </span>
        <span>
                <input type="text" value="{{slug}}" name="slug">
            </span>
    </div>
    <div>
            <span>
                <h3>Отображение ссылки</h3>
            </span>
        <span>
                <input type="text" value="{{menuLabel}}" name="menuLabel">
            </span>
    </div>
    <div>
            <span>
                <h3>H1</h3>
            </span>
        <span>
                <input type="text" value="{{h1}}" name="h1">
            </span>
    </div>
    <div>
            <span>
                <h3>Введите текст статьи</h3>
            </span>
            <span>
                <textarea name="content">{{content}}</textarea>
            </span>
    </div>

    <div>
            <span>
                <h3>Время публицации</h3>
            </span>
        <span>
                <input type="date" value="{{publishedAt}}" name="publishedAt">
            </span>
    </div>
    <div>
            <span>
                <h3>Приоритет</h3>
            </span>
        <span>
                <input type="number" value="{{priority}}" name="priority">
            </span>
    </div>
    <div>
        <button type="submit">Сохранить</button>
    </div>
    {{/articles}}
</form>
</body>
</html>