<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Title</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha512-Dop/vW3iOtayerlYAqCgkVr2aTr2ErwwTYOvRFUpzl2VhCMJyjQF0Q9TjUXIo6JhuM/3i0vVEt2e/7QQmnHQqw==" crossorigin="anonymous">
    <!-- Дополнительные стили Bootstrap (не обязательно) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha512-iy8EXLW01a00b26BaqJWaCmk9fJ4PsMdgNRqV96KwMPSH+blO82OHzisF/zQbRIIi8m0PiO10dpS0QxrcXsisw==" crossorigin="anonymous">
    <!-- jQuery (необходим для Bootstrap JS) -->
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha512-oBTprMeNEKCnqfuqKd6sbvFzmFQtlXS3e0C/RGFV0hD6QzhHV+ODfaQbAlmY6/q0ubbwlAM/nCJjkrgA3waLzg==" crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="flex-container">
    <div class="flex-item item-1">
        <span class="cms">Content Management System</span>
        <span class="cmsButton"><a class="btn btn-primary" href="/new-article">Создать статью</a></span>
    </div>

    <div class="flex-item item-2">
        <p>
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                Список не опубликованных статей
            </button>
        </p>
        <div class="collapse" id="collapseExample">
            <div class="card card-body">
                {{#unpublishedArticles}}
                <div>
                    <span><a id="unpublish" class="btn btn-primary" href="/{{slug}}" type="text" name="title">{{menuLabel}}</a></span>
                    <span id="priorUn" class="btn btn-primary">приоритет: {{priority}}</span>
                </div>
                {{/unpublishedArticles}}
            </div>
        </div>
    </div>

    <div class="flex-item item-3">

        <h4>Список опубликованных статей</h4>

        <form action="/article">
            {{#publishedArticles}}
            <div>
                <span><a id="publish" class="btn btn-primary" href="/{{slug}}" type="text" name="title">{{menuLabel}}</a></span>
                <span id="prior" class="btn btn-primary">Приоритет - {{priority}}</span>
            </div>
            {{/publishedArticles}}
        </form>
    </div>

</div>
</body>
</html>